
      <h1>Browser</h1>
      <form action="/" method="GET">
        <input type="text" class="search" name="search" placeholder="Search...">
        <input type="number" name="from" class="difficulty" placeholder="Price from...">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Price to...">
        <input type="submit" value="search">
      </form>
      <div id="cars">
      {{#each cars}}
{{> carPreview}}
{{else}}
<span>No cars in database.<a href="/create" class='cr8 '>Create the first one.</a></span>

      {{/each}}
</div>
<script src="../static/js/app.js"></script>






